.venv/
__pycache__/
*.pyc
.pytest_cache/

config/settings.toml
config/credentials.json
config/token.json

data/attachments/*
data/database/
data/output/*

!data/attachments/.gitkeep
!data/database/.gitkeep
!data/output/.gitkeep

planillas/
dist/
*.egg-info/